@use "../global" as *;

.c-section-title {
}
.c-section-title__ja {
  font-size: rem(46);
  color: #1e59bf;
  font-weight: 700;
  font-family: $second-font-family;
}
.c-section-title__en {
  color: #000000;
  font-family: $sen;
  font-size: rem(16);
  font-weight: 500;
  margin-top: rem(14);
}
