@use "../global" as *;

.p-banner {
  position: relative;
  padding-top: rem(80);
  padding-bottom: rem(80);
  background: linear-gradient(to right, #26d0ce, #2c77bc);

}
.p-banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: calc(50% - 50vw);
  right: calc(50% - 50vw);
  z-index: -1;
}
.p-banner__link {
  display: block;
}

.p-banner__img {
}
.p-banner__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
