@use "../global" as *;

.p-event {
  padding-top: rem(110);
  overflow-x: clip;
}

.p-event__content {
  display: flex;
  gap: rem(65);
}

.p-event__left {
}

.p-event__title {
}

.p-event__btn-wrapper {
  margin-top: rem(52);
}
.p-event__slider-btn {
  display: flex;
  gap: rem(10);
  margin-top: rem(44);
}
.p-event__slider-wrapper {
}
.p-event__slider {
  margin-right: calc(50% - 50vw);
}

.p-event__slider .swiper {
  padding-bottom: rem(24);
}

.slider2 {
}

.p-event__slider .swiper-wrapper {
  width: 90vw;
}

.swiper-slide {
}

.p-event__slider-link {
  display: block;
  filter: drop-shadow(3px 3px 0px rgba(9, 115, 206, 1));
  border-radius: rem(20);
}

.p-event__img {
}
.p-event__img img {
  aspect-ratio: 370 / 523;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-event__detail {
  padding: rem(25) rem(20);
  background: #f2f7fb;
  border-bottom-left-radius: rem(20);
  border-bottom-right-radius: rem(20);
}

.p-event__slider-title {
  text-align: center;
  font-size: rem(25);
  color: #1e59bf;
  font-weight: 600;
}

.p-event__slider-detail {
  margin-top: rem(21);
}

.p-event__slider-block {
}
.p-event__slider-block + .p-event__slider-block {
  margin-top: rem(15);
}
.p-event__slider-sub {
  font-size: rem(16);
  font-weight: 700;
  color: #1e59bf;
  line-height: calc(36 / 16);
}

.p-event__slider-text {
  color: #000000;
  font-size: rem(16);
  font-weight: 400;
  line-height: calc(26 / 16);
  margin-top: rem(5);
}

.swiper-button-prev {
}

.swiper-button-next {
}
