@use "../global" as *;

.p-mv {
}

.p-mv__content {
  margin-left: calc(50% - 50vw);
}

.p-mv__img {
}

.p-mv__img img {
  aspect-ratio: 1820 / 994;
  object-fit: cover;
  width: 100%;
  height: auto;
}
