@use "../global" as *;

.p-top-links {
  margin-top: rem(80);
}

.p-top-links__inner {
  max-width: rem(1770);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(25);
  padding-right: rem(25);
}

.p-top-links__lists {
  margin-left: calc(50% - 50vw);
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.p-top-links__list {
}

.p-top-links__link {
  display: block;
}

.p-top-links__img {
}
.p-top-links__img img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
